/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 
 *= require_self
 *= require_tree ../../../vendor/assets/.
 *= require_tree .
 *= require moj_css.css


 */



 body {
  background-color: yellow;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-image:asset-data-url("jasneprawo.png");
  padding-top: 5%;
  background-image: white;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
  backgorund-position:center 35%;

}

.root {
    max-width: 980px;
    margin: 1em auto;
    border: 1px solid #ccc;
    padding: 20px;
    
}

.site-title {
    text-align: center;
    margin: 0 0 1em;
    padding: 0;
}

.primary-nav {
    h2 {
        position: absolute;
        left: -9999em;
    }

    ul {
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0 auto;
        border-style: dotted;
        padding: 1em 0;
        border-width: 1px 0;
    }

    li {
        display: inline;
        &:before {
            content: " | ";
        }
    }

    li:first-child {
        &:before {
            display: none;
        }
    }
}
