body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-image: url("/assets/jasneprawo.jpg");
  padding-top: 5%;
  background-image: white;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment: fixed;
  backgorund-position:center 35%;

}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}
.wroc{
  color:white;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}
a.wroc{
  color:#333;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.smak,.kolor,.cena,.design{
  margin-bottom:3%;
}

.imgag{
  background-image: url('/assets/beer_by.png');
}


@media (max-width: 768px) {


  body{
      padding-top: 15%;
  
      background-position: 45%;
    }

    a.wroc{
    display:none;
    }
  }

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning:checked,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #47a447;
  border-color: #398439;
}

.btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.obraz{
  width:100px;
  height:170px;
}








