<h1>Witaj w projekcie BeerApp</h1>

<h4>Strona została stworzona na potrzeby pracy licencjackiej w celu zwiększenia wartości intelektualnej. Została ona zaprojektowana by zbierać dane o wyborach konsumentów w celu analizy trendów. Do analizy zostaną wykorzystane techniki Uczenia Maszynowego. <br/>Z góry dziękuje za pomoc.  </h4>

<h5 class="pull-left"><br/>Z pozdrowieniami,<br/><br/> Tobiasz Kukawka</h5>
