<h1>Witaj w projekcie BeerApp</h1>

<h3>Strona została stworzona na potrzeby pracy licencjackiej w celu zwiększenia wartości intelektualnej. Została ona zaprojektowana by zbierać dane o wyborach konsumentów. Posłuży ona do odpowiedzi na pytanie, czy systemy rekomendacyjne mogą zostać zastosowane również w kontekscie przemysłów piwowarskich.</h3>


